/* common styles */
body {
  background-color: rgb(236, 236, 236);
}
.text-color {
  color: rgb(120, 127, 168);
}
.heading-color {
  color: rgb(82, 117, 182);
}
.bg-color {
  background-color: rgb(120, 127, 168);
  color: whitesmoke;
}
